.contact-container {
  background-color: black;
  color: white;
  height: 650px;
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  margin-top: 96px;
}

.about-us {
  margin-top: 32px;
}

.about-us h1 {
  font-size: 20px;
  margin-bottom: 84px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.explain {
  max-width: 600px;
  font-weight: 400;
  line-height: 48px;
  font-size: 42px;
  letter-spacing: 6px;
}

.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.contact-form input {
  font-size: 20px;
  color: white;
  background-color: transparent;
  padding: 8px 20px;
  height: 40px;
  width: 300px;
  outline: none;
  border: 2px solid #222;
}

.input-box {
  position: relative;
  margin-bottom: 24px;
}

.input-box label {
  position: absolute;
  color: white;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s;
  font-weight: 500;
  pointer-events: none;
}

.contact-form .name-input:valid ~ .name-label,
.contact-form .name-input:focus ~ .name-label {
  left: -20%;
  font-size: 18px;
  color: gray;
}

.contact-form .email-input:valid ~ .email-label,
.contact-form .email-input:focus ~ .email-label {
  left: -20%;
  font-size: 18px;
  color: gray;
}

.contact-form .telephone-input:valid ~ .telephone-label,
.contact-form .telephone-input:focus ~ .telephone-label {
  left: -25%;
  font-size: 18px;
  color: gray;
}

.department-box {
  position: relative;
  height: 60px;
  margin-bottom: 32px;
}

.department-label {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
}

.triangulo {
  position: absolute;
  right: 5%;
  top: 35%;
  cursor: pointer;
  font-size: 18px;
}

textarea {
  height: 120px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  padding: 8px 20px;
  width: 300px;
  outline: none;
  border: 2px solid #222;
  resize: none;
}

.message-box {
  position: relative;
}

.message-label {
  position: absolute;
  left: 6%;
  top: 10%;
  font-size: 20px;
  font-weight: 500;
  pointer-events: none;
}

.contact-form .message-input:valid ~ .message-label,
.contact-form .message-input:focus ~ .message-label {
  left: -31%;
  font-size: 18px;
  color: gray;
}

.message-button {
  margin-top: 8px;
  border: none;
  width: 75px;
  height: 60px;
  margin-left: auto;
  cursor: pointer;
}

.message-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

.message-button i {
  font-size: 28px;
}
