.header {
  background-color: white;
  height: 15vh;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  gap: 48px;
  color: #555;
}

.list li {
  cursor: pointer;
  transition: 0.3s;
}

.list li:hover {
  transform: scale(1.15);
  color: black;
}

.user-actions {
  margin-right: 48px;
}

.user-actions span {
  line-height: 0;
  position: absolute;
  top: 50%;
}

.logo {
  cursor: pointer;
}

.logo :hover {
  transform: scale(1.3);
}
