.collections {
  width: 100vw;
  margin-bottom: 32px;
  position: relative;
}

.collections h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 96px;
}

.products-card {
}

.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 36px;
}

.collections-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collections-card img {
  width: 252px;
  height: 252px;
  transition: 0.3s;
  cursor: pointer;
}

.collections-card img:hover {
  transform: scale(1.15);
  border-radius: 16px;
}
.colors {
  display: flex;
  gap: 12px;
  margin-top: 22px;
  margin-bottom: 18px;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.color:not(.black):hover {
  transform: scale(1.2);
}

.black {
  background-color: black;
}

.black:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  border-radius: 50%;
  border: black 2px solid;
}
.brown {
  background-color: #8b4513;
}

.darkbrown {
  background-color: #745453;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.controll-page {
  font-weight: bolder;
  font-size: 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 32px;
}

.page-number {
  cursor: pointer;
}

.page-number:hover {
  color: gray;
}

.next-page {
  cursor: pointer;
  font-size: 26px;
}

.next-page:hover {
  color: gray;
}

.back-page {
  cursor: pointer;
  font-size: 26px;
}

.back-page:hover {
  color: gray;
}

.controll-button {
  display: none;
}

@media (max-width: 930px) {
  .products-card {
    width: 270px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
  }
  .products-wrapper {
    display: flex;
    gap: 20px;
  }
  .controll-button {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 38px;
    transition: 0.1s;
    transform-origin: bottom;
  }

  .enable-button:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
    border-radius: 32px;
    padding: 6px;
    cursor: pointer;
  }

  .previous {
    position: absolute;
    top: 50%;
    left: 20%;
  }

  .next {
    position: absolute;
    top: 50%;
    right: 20%;
  }
  .controll-page {
    display: none;
  }
}

/* @media (max-width: 800px) {
  .products-card {
  }
} */
