.collections {
  width: 100vw;
  margin-bottom: 32px;
}

.collections h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 96px;
}

.products-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 36px;
}

.collections-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collections-card img {
  width: 252px;
  height: 252px;
  transition: 0.3s;
  cursor: pointer;
}

.collections-card img:hover {
  transform: scale(1.15);
  border-radius: 16px;
}
.colors {
  display: flex;
  gap: 12px;
  margin-top: 22px;
  margin-bottom: 18px;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.color:not(.black):hover {
  transform: scale(1.2);
}

.black {
  background-color: black;
}

.black:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);
  border-radius: 50%;
  border: black 2px solid;
}
.brown {
  background-color: #8b4513;
}

.darkbrown {
  background-color: #745453;
}

.product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.controll-page {
  font-weight: bolder;
  font-size: 22px;
  position: absolute;
  left: 50%;
  margin-top: 32px;
  /* margin-bottom: 32px; */
  transform: translateX(-45%);
  display: flex;
  gap: 8px;
  align-items: center;
}

.page-number {
  cursor: pointer;
}

.page-number:hover {
  color: gray;
  font-size: 26px;
}

.next-page {
  cursor: pointer;
  font-size: 26px;
}

.next-page:hover {
  color: gray;
}

.back-page {
  cursor: pointer;
  font-size: 26px;
}

.back-page:hover {
  color: gray;
}
